<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.siriuscloud.xiaoy.dao.AuthMapper">
  <resultMap id="BaseResultMap" type="cc.siriuscloud.xiaoy.domain.Auth">
    <id column="auth_id" jdbcType="INTEGER" property="authId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="filter" jdbcType="VARCHAR" property="filter" />
  </resultMap>
  <sql id="Base_Column_List">
    auth_id, name, filter
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xy_auth
    where auth_id = #{authId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xy_auth
    where auth_id = #{authId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cc.siriuscloud.xiaoy.domain.Auth">
    insert into xy_auth (auth_id, name, filter
      )
    values (#{authId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{filter,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.siriuscloud.xiaoy.domain.Auth">
    insert into xy_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        auth_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="filter != null">
        filter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filter != null">
        #{filter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.siriuscloud.xiaoy.domain.Auth">
    update xy_auth
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filter != null">
        filter = #{filter,jdbcType=VARCHAR},
      </if>
    </set>
    where auth_id = #{authId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.siriuscloud.xiaoy.domain.Auth">
    update xy_auth
    set name = #{name,jdbcType=VARCHAR},
      filter = #{filter,jdbcType=VARCHAR}
    where auth_id = #{authId,jdbcType=INTEGER}
  </update>
</mapper>